.hero-carousel {
  position: relative;
  overflow: hidden;
}

/* MOBILE */
.carousel-container {
  height: 400px;
  position: relative;
}

.carousel-wrapper {
  position: relative;
  width: 430px;
  height: 506px;
}

.carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.cta-button {
  background-color: #e5e7eb;
  color: black;
  padding: 8px 32px;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: white;
  transform: translateY(-2px);
}

/* DESKTOP */
@media (min-width: 768px) {
  .carousel-wrapper {
    display: none;
  }

  .carousel-container {
    height: 600px;
    background-color: #195D55; 
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 80px;
  }

  .cta-button {
    background-color: #D2CDC7;
    color: black;
    font-size: 24px;
    padding: 3px 58px;
    margin-bottom: 32px;
  }

  .cta-button:hover {
    background-color: white;
    transform: translateY(-2px);
    
  }
}
